
/* VARIABLES */
:root{
  --primary-color: #0300c2;
  --secondary-color: black;
  --tertiary-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-family: 'EB Garamond', Verdana, Arial, sans-serif;
}

/* HEADER STYLING START */
header {
  justify-content: center;
}

/* END HEADER STYLES */

/* NAV STYLES START */
.nav-tabs {
  width: 100%;
  display: flex;
  padding: 30px;
  justify-content: center;
  background-color: black;
}

.tab {
  padding: 0 40px !important;
  font-family: 'Bebas Neue', Verdana, Arial, sans-serif !important;
  font-size: 200% !important;
  color: var(--tertiary-color) !important;
  cursor: pointer !important;
}

/* NAV STYLES END */

/* HERO STYLING START */

.hero {
  background-image: url("./assets/images/jumbotron-1.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 40px;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 100%;
  height: 700px;
  box-shadow: inset 0px 0px 50px 50px rgba(0,0,0,0.3);
  
}


.hero h1 {
  right: 40px;
  padding: 5px;
  font-weight: normal;
}

.hero a {
  margin: 0;
  width: 100%;
  position: relative;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  text-decoration: none;
  font-size: 15vh;
  letter-spacing: 5px;
  font-family: 'Bebas Neue', Verdana, Arial, sans-serif;
  font-weight: normal;
  text-shadow: 0 1px 0 #ccc, 
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

/* HERO STYLING END */

/* CONTENT STYLING START */
.main-content {
  margin: auto;
  font-size: 18px;
  padding: 30px 0px 0px 0px;
}

.main-content section {
  display: flex;
  flex-wrap: wrap;
}

.main-content h2 {
  text-align: center;
  font-size: 30px;
}

.headshot {
  width: 30% !important;
  height: auto;
}

.content-info {
  width: 70% !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center !important;
}

.content-info h2 {
  width: 30%;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary-color);
}

.container {
  width: 75%;
  max-width: 1400px;
  margin: 30px auto 30px auto;
}

.container div {
  display: inline-block;
  justify-content: center;
  padding: 20px 30px 30px 30px;
}

.container a {
  text-decoration: none;
}

/* work/projects section styling */

#project .content-info {
  width: 60% !important;
}

.container h2 {
  height: 40px;
  color: var(--primary-color)
}

#project .container {
  width: 85%;
}

.project-photo {
  width: 40% !important;
  height: 100% !important;
  border-right: 1px solid grey;
}

.container p {
  padding-bottom: 10px;
  width: 100%;
}

.container h4 {
  width: 100%;
}

.button-container {
  width: 100%;
  display: flex !important;
  justify-content: end !important;
  padding: 0px 0 0 0 !important;
  height: 50px !important;
}

.button {
  background-color: var(--primary-color) !important;
  padding: 0 20px !important;
  font-family: 'Staatliches', "Helvetica", sans-serif !important;
  text-transform: none !important;
  font-size: 18px !important;
  height: 50px !important;
}

.icon-open {
  padding-left: 10px;
  height: 20px !important;
  width: auto !important;
}

/* RESUME STYLING START */
#resume {
  color: var(--secondary-color);
  width: 85%;
  margin: 0 auto;
  justify-content: center;
}

.resume-sections {
  justify-content: end;
}

#details {
  text-align: center;
  padding-bottom: 20px;
}

#details p {
  width: 100%;
}

#resume h3 {
  width: 20%;
  min-width: 140px;
}

#resume .content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.title-date p {
  display: flex;
  flex-wrap: wrap;
}

.title-date p:last-child {
  text-align: right;
}

.title-date i, .title-date b {
  width: 100%;
}

#resume ul {
  width: 100%;
  align-self: flex-end;
  padding-bottom: 10px;
}

#resume li {
  width: 80%;
  margin-right: 0;
  margin-left: auto;
  list-style-type: disc;
}

#ed-2 {
  width: 100% !important;
}

#ed-2 .title-date {
  margin-right: 0;
  margin-left: auto;
}

#skills {
  text-align: left;
}

#resume .button-container {
  padding-top: 20px !important;
  justify-content: center !important;
}

/* RESUME STYLING END */

/* FOOTER */
footer {
  width: 100%;
  position: relative;
}

.footer-container {
  margin-top: 80px;
  position: absolute;
  width: 100%;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

footer a {
  height: 100%;
  display: flex;
  padding: 0 30px;
  text-decoration: none;
}

footer p {
  padding: 10px 10px 0px 0px;
  color: var(--tertiary-color);
  font-family: 'Bebas Neue', Verdana, Arial, sans-serif;
  font-size: 20px;
}

.icons {
  height: 40px !important;
  padding-right: 10px;
  width: auto !important;
}

/* ADDITIONAL STYLING */

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}


/* CONTENT STYLING END */

@media screen and (max-width: 1024px) {
  .main-content section {
    width: 85%;
  }

  #project {
    justify-content: center;
    width: 100%;
  }

  #resume section {
    width: 100%;
  }

}


@media screen and (max-width: 768px) {

  .hero {
    justify-content: center;
    padding: 10px 40px;
    width: 100%;
    height: 600px;
  }

  .hero h1 {
    display: flex;
    text-align: center;
    padding-top: 100px;
    width: 80%;
  }

  .hero a {
    font-size: 12vh;
  }

  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-content section {
    width: 85%;
  }

  .about-me {
    width: 50% !important;
    justify-content: center;
  }

  .about-me h2, .about-me .content-info {
    width: 100% !important;
  }

  .headshot {
    width: 100% !important;
    height: 400px;
  }

  .project-photo {
    width: 100% !important;
    height: 300px !important ;
  }

  #project .content-info {
    width: 100% !important;
  }

  #resume .content {
    width: 100%;
  }

  #resume li {
    width: 95%;
  }

  #resume h3 {
    width: 100%;
    padding-bottom: 10px;
  }

  #contact-me {
    padding: 0 20px;
  }

  #contact-me p {
    padding: 20px 20px;
    justify-content: space-around;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .hero {
    height: 300px;
  }

  .hero h1 {
    padding-top: 50px;
  }

  .hero a {
    font-size: 7vh;
  }

  .nav-tabs {
    padding: 15px;
  }

  .tab-list {
    min-height: 0px !important;
    min-width: none !important;
    height: 30px !important;
  }

  .tab {
    padding: 0 !important;
    margin-right: 10px !important;
    font-size: 100% !important;
    min-width: 65px !important; 
    min-height: 35px !important;
  }

  .tab:last-child {
    margin-right: 0 !important;
  }

  .headshot {
    height: 200px !important;
  }

  .main-content {
    font-size: 16px;
    padding-top: 0;
  }

  .container div {
    padding: 15px 15px;
  }

  .project {
    width: 100%;
  }

  .about-me {
    width: 85% !important;
  }

  .content-info h2 {
    width: 80%;
  }

  .button-container {
    justify-content: center !important;
    padding-top: 10px !important;
  }
  
  #contact-me {
      padding: 20px 0;
  }
  
  #contact-me p {
      width: 100%;
      text-align: left;
      padding: 8px 0;
  }

  footer a {
    padding: 0 15px 0 0;
  }

  footer a:first-child {
    padding-left: 20px;
  }

  footer p {
    font-size: 18px;
    padding-top: 5px;
  }

  .icons {
    height: 30px !important;
    padding-right: 5px;
  }
}